<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Criar Conta</title>
    <link rel="stylesheet" href="/styles/register_style.css">
</head>
<body>

    <div class="login-box">
        <h2>Criar Conta</h2>
        
        <form action="/auth/register" method="POST">
            <input type="text" name="nome" placeholder="O teu Nome" required>
            <input type="email" name="email" placeholder="O teu Email" required>
            <input type="password" name="senha" placeholder="Escolhe uma Senha" required>
            <button type="submit">Registar</button>
        </form>

        <a href="/auth/login">Já tens conta? Fazer login.</a>
        <a href="/">Voltar à Home</a>
    </div>

</body>
</html>